<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../dist/css/styles.css" />
  <title>Post Detail</title>
</head>

<body>
  <header class="header">
    <img class="logo" src="../images/logomarca.svg" alt="logomarca" />
    <h1>BLOG</h1>
  </header>

  <div class="button-back">
    <a class="link-back" href="../index.html">
      <div class="icon-ellipse">
        <img class="arrow-icon" src="../images/ArrowIcon.png" alt="ícone flecha" />
      </div>
    </a>
  </div>

  <main id="detail-container"></main>

  <section id="comments-container"></section>
  </section>

  <script src="../dist/postDetail.js" type="module"></script>
</body>

</html>